mixin addForm(store = {})
    form(action=`/add/${store._id || ''}` method='POST' class='card')
        label(for="name") Name
        input(type='text' id='input-ww' name="name" value=store.name )
        label(for="Description") Description
        textarea(name="description")=store.description
        -const list=['Vegeterian','Open Late','Parking', 'Wi-Fi'];
        -const tagsS=store.tags || ''
        ul.tags
            each item in list
                .tags.tag__choice
                    input(type='checkbox' id=item name='tags' value=item checked=(
                      tagsS.includes(item)) )
                    label(for='tags')=item

        input(type='submit' value="save" class='button')